nav ul li:nth-child(4) {
    color: #BA181B;
}

.container {
    height: 93vh;
}

.aboutAndTools {
    display: flex;
    align-items: start;
    justify-content: space-around;
    font-size: 20px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 30vh 30vh;
}

.gridContainer div {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.gridContainer div img{
    height: 120px;
    width: 120px;
}

.aboutAndTools div p:nth-child(1) {
    margin-top: 5vh;
    margin-bottom: 3vh;
    text-align: center;
    font-size: 32px;
}

.equipmentDescription p:nth-child(2) {
    width: 25vw;
    padding: 20px;
    border-right: 1px solid #BA181B;
}

.container > p {
    text-align: right;
    margin-right: 4vw;
    margin-top: 5vh;
}

@media (max-width: 768px) {
    .aboutAndTools{
        align-items: center;
        flex-direction: column;
    }
    .aboutAndTools .equipmentDescription p{
        width: 100%;
        padding: 0% 10%;
    }
    .equipmentDescription p:nth-child(2){
        margin-bottom: 5vh;
        padding: 5vw;
        border: none;
    }
    .gridContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 35vh 35vh 35vh;
    }
}
@media (max-width: 617px) {
    .aboutAndTools {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 20px;
    }
}

