.container{
    height: 93vh;
    padding: 5vh;
}
.container h1{
    color: white;
    text-align: center;
}
.gridContainer1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 35vh 35vh;
    margin-top: 3vh;
}
.gridContainer1 div{
    display: flex;
    align-items: start;
    justify-content: center;
}
.gridContainer1 div:nth-child(1){
    grid-column: 1/3;
    border-bottom: 1px solid #BA181B;
}
.gridContainer1 div:nth-child(2){
    grid-column: 3/5;
    border-left: 1px solid #BA181B; 
    border-right: 1px solid #BA181B; 
    border-bottom: 1px solid #BA181B;
}
.gridContainer1 div:nth-child(3){
    grid-column: 5/7;
    border-bottom: 1px solid #BA181B;
}
.gridContainer1 div:nth-child(4){
    grid-column: 1/4;
}
.gridContainer1 div:nth-child(5){
    grid-column: 4/7;
    border-left: 1px solid #BA181B;
}
.gridContainer1 div p{
    width: 15vw;
    height: 25vh;
    margin-top: 5vh;
    font-size: 17px;
}

.gridContainer1 div img{
    width: 13vw;
    height: 25vh;
    margin-right: 2vw;
    margin-top: 5vh;
}
.container>p{
    text-align: end;
    margin-top: 5vh;
}

@media (max-width: 768px) {
    .gridContainer1{
        grid-template-columns: 90vw;
        grid-template-rows: 45vh 45vh 45vh 45vh 45vh;
        margin-top: 5vh;
    }
    .gridContainer1 div p{
        width: 50vw;
        height: 30vh;
        overflow: scroll;
        margin-top: 5vh;
        border-top: 1px solid #BA181B;
    }
    .gridContainer1 div img{
        width: 25vw;
        height: 25vw;
        margin-right: 5vw;
        margin-top: 5vh;
    }
    .gridContainer1 div:nth-child(1),.gridContainer1 div:nth-child(2),.gridContainer1 div:nth-child(3),.gridContainer1 div:nth-child(4),.gridContainer1 div:nth-child(5){
        grid-column: 1/1 span;
        border: none;
    }
    .gridContainer1 div:nth-child(2) img,.gridContainer1 div:nth-child(4) img{
        order: 2;
        margin-right: 0;
        margin-left: 5vw;
    }
}
@media (max-width: 623px) {
    .gridContainer1 div p{
        overflow:visible;
        margin-top: 5vh;
    }
}