nav ul li:nth-child(4){
    color: #BA181B;
}
.container{
    height: 93vh;
}
.videoAndComment{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 2vw;
    height: 70vh;
}
.back, .bicep, .cardio, .core, .leg, .shoulder, .tricep{
    display: none;
}
.videos div iframe{
    width: 55vw;
    height: 30vw;
    border: 5px solid #a4a4a4;
    border-radius: 20px;
}
.commentAndTitle{
    width: 30vw;
    background-color: #161A1D;
}
.nameVid{
    border-bottom: 1px solid #BA181B;
    font-size: 3vw;
}
.commentText{
    color: #a4a4a4;
}
#comment{
    list-style: none;
    width: 30vw;
    height: 20vw;
    overflow: scroll;
    font-size: 14px;
}
#comment::-webkit-scrollbar{
    width: 0;
}
.commentChest{
    display: block;
}
.commentBack, .commentBicep, .commentCardio, .commentCore, .commentLegs, .commentShoulder, .commentTricep{
    display: none;
}
#comment p{
    display: inline;
    color: #a4a4a4;
}
.commentAndTitle input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #a4a4a4;
    width: 20vw;
}
.commentAndTitle input:focus{
    outline: none;
}
.commentAndTitle div button{
    background-color: transparent;
    border: none;
}
.commentAndTitle div button:active{
    opacity: 0.6;
}
.commentAndTitle div button:hover{
    background-color: #BA181B;
    border-radius: 5px;
}
.optionVideo {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    height: 23vh;
    border-top: 1px solid #BA181B;
}
.optionVideo div{
    margin-left: 5vw;
}
.optionVideo div img{
    border: 5px solid #a4a4a4;
    border-radius: 10px;
    width: 200px;
}
.chestChoice{
    display: none;
}
.commentButton1,.commentButton2,.commentButton3,.commentButton4,.commentButton5,.commentButton6,.commentButton7,.commentButton8{
    background-color: #161A1D;
    color: #161A1D;
    border: none;
}
@media (max-width: 768px) {
    .videos div iframe{
        width: 60vw;
        height: 34vw;
        border: 5px solid #a4a4a4;
        border-radius: 20px;
    }
    .optionVideo div img{
        width: 150px;
    }
    
    
}

@media (max-width: 480px) {
    .videoAndComment{
        flex-direction: column;
        justify-content: center;
        height: 70vh;
        width: 100vw;
        background-color: #161A1D;
    }
    .videos div iframe{
        width: 80vw;
        height: 50vw;
        margin-top: 20px;
    }
    .commentAndTitle{
        margin-top: 5vh;
        height: 20vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .nameVid{
        font-size: 20px;
        border: none;
    }
    .optionVideo div img{
        width: 150px;
    }
    .commentAndTitle div{
        position: absolute;
        top: 10vh;
        height: 50vh;
        width: 90vw;
        background-color: black;
        border: 5px solid #a4a4a4;
        border-radius: 20px;
        padding: 10px;
        z-index: -1;
    }
    #comment{
        width: 80vw;
        height: 35vh;
        overflow: scroll;
        font-size: 14px;
    }
    .commentChest{
        display: block;
    }
    .commentAndTitle input{
        width: 50vw;
    }
    .chestChoice{
        display: none;
    }
    .commentButton1,.commentButton2,.commentButton3,.commentButton4,.commentButton5,.commentButton6,.commentButton7,.commentButton8{
        height: 7vw;
        width: 50vw;
        background-color: transparent;
        border-radius: 20px;
        color: white;
        border: 3px solid #BA181B;
        text-align: center;
        margin-top: 10vh;
        display: none;
    }
}